<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kupido Distributions</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel|Open+Sans+Condensed:300|Ranga|Teko" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>

    <div id="copy-main">
      <section id="copyright"><i class="far fa-copyright"></i></section>
      <p id="copy-text"> Kupido Distributors LLC 2018</p>
    </div>
  </body>
</html>
