<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kupido Distributions</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel|Open+Sans+Condensed:300|Ranga|Teko" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <!-- footer -->
    <footer>
      <div id="footer-container">

      <!-- Footer Left -->
        <a href= "https://www.youtube.com/watch?v=9HOem0amlyg&t=130s" target="_blank">
          <div id="footer-left">
            <h3>Kupido Distributions</h3>

            <h2>
              Phone: 908-698-2405
              Email: ck@kupidoexport.com
            </h2>
          </div>
        </a>
      <!-- Footer Mid -->
        <div id="footer-mid">
          <section id="social">
            <a href="https://www.facebook.com/Kupido-Export-LLC-113957675349443/" target= "_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target= "_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target= "_blank"><i class="fab fa-linkedin"></i></a>
            <a href="#" target= "_blank"><i class="fab fa-youtube"></i></a>
          </section>

          <nav>
            <ul id="footer-mid-nav">
              <a href="#" target= "_blank"><li>Home</li></a>
              <a href="#" target= "_blank"><li>About</li></a>
              <a href="#" target= "_blank"><li>Ebay Store</li></a>
              <a href="#" target= "_blank"><li>Contact</li></a>
              <a href="#" target= "_blank"><li>Privacy Policy</li></a>
              <a href="#" target= "_blank"><li id="sellers">Seller's Portal</li></a>
            </ul>
          </nav>
        </div>

    <!-- Footer Right -->
        <div id="footer-right">
          <section id="payment">
            <article class="fab fa-cc-paypal"></article>
            <article class="fab fa-cc-visa"></article>
            <article class="fab fa-cc-mastercard"></article>
            <article class="fab fa-cc-amex"></article>
          </section>
        </div>

      </div>
    </footer>
  </body>
</html>
