<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>header-nav</title>
  </head>
  <body>
    <!-- Header Nav -->
    <nav id="header-nav">
      <ul id="header-nav">
        <a href="#" target= "_blank"><li id="home">Home</li></a>
        <a href="#" target= "_blank"><li id="about">About</li></a>
        <a href="#" target= "_blank"><li id="contact">Contact</li></a>
        <a href="#" target= "_blank"><li>Ebay Store</li></a>
        <a href="#" target= "_blank"><li>Small Businesses</li></a>
        <a href="#" target= "_blank"><li>Large Businesses</li></a>
      </ul>
    </nav>
    <!-- End of header nav -->
  </body>
</html>
