*{
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  background: url("pics/cosmetics1.jpg") fixed center;
}

div#page-container{
  max-width: 1300px;
  margin: 20px auto;
  background: white;
  min-height: 1000px;

}

/* HEADER SECTION */
header{
  background: #555;
  padding: 10px;
}

div#heading-container{
  max-width: 475px;
  display: inline-block;
}

header .description-heading{
  font-family: "Cinzel";
  color: white;
  text-shadow: 1px 1px 10px black;
}

header .contact-heading{
  margin-left: 45px;
  font-family: "Cinzel";
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 10px black;
}

header h1{
  font-family: "ranga";
  margin-left: 135px;
  color: orange;
  text-shadow: 1px 1px 10px black;
}
/* End of Header Section */


/* HEADER NAV */
nav#header-nav{
  margin: auto;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
  min-width: 700px;
  background: #ddd;

}

nav#header-nav li{
  display: inline-block;
  width: 170px;
  height: 30px;
  margin: 0 5px;
  line-height: 28px;
  font-family: "Open Sans Condensed";
  font-weight: bold;
  font-size: 22px;
}

nav#header-nav li{
  color: orange;
}

nav#header-nav li:hover{
  background: #420A0A;
  transition: .5s;
  color: white;
}
/* End of header nav */


/* MAIN BODY SECTION  */

/* Intro Banner */
section#brands-banner{
  background: url("pics/brands.jpg") no-repeat center;
  min-height: 300px;
}

section#intro-banner{
  background: url("pics/wood.jpg") center no-repeat;
  min-height: 200px;
}

p#intro-text{
  color: white;
  display: inline-block;
  /*border: 2px solid green;*/
  max-width: 600px;
  font-family: "Abril Fatface";
  font-size: 20px;
  margin: 40px;
}

button#btn1{
  width: 100px;
  height: 30px;
  display: inline-block;
  background: #38241A;
  border: 5px double #314770;
  color: #314770;
  border-radius: 10px;
}







/* FOOTER SECTION */
footer{
  background: #333;
  min-height: 170px;
}

div#footer-container{
  /*border: 2px solid red;*/
  text-align: center;
  overflow: auto;
}

div#footer-container div{
  display: inline-block;
  overflow: hidden;
  /*min-height: 200px;*/
}

/* Footer Left */
div#footer-left{
  max-width: 370px;
  /*border: 2px solid yellow;*/
  display: inline-block;
  float: left;
  margin: 30px 10px 0px 10px;
}

#footer-left h3{
  font-family: "ranga";
  color: orange;
  text-shadow: 1px 1px 10px black;
  font-size: 30px;
  margin-bottom: 20px;
}

#footer-left h2{
  font-family: "Cinzel";
  color: white;
  font-size: 20px;
}

/* Footer Mid */
div#footer-mid{
  /*border: 2px solid green;*/
  margin: 30px 0;
  display: inline-block;
}

section#social{
  margin-bottom: 40px;
}

section#social a{
  color: white;
  font-size: 50px;
  margin: 0 20px;
}

/*section#social a:hover{
  transition: .4s;
}*/
section#social a:hover{
  transition: .4s;
}

section#social a.fa-facebook:hover{
  color: #4468B0;
}

section#social a.fa-twitter:hover{
  color: #2AA3EF;
}

section#social a.fa-linkedin:hover{
  color: #1178B3;
}

section#social a.fa-youtube:hover{
  color: #FC0D1C;
}

ul#footer-mid-nav a li:hover{
  background: #420A0A;
  color: orange;
  margin-left: 1px;
  transition: .4s;
}

ul#footer-mid-nav a li{
  display: inline-block;
  width: 70px;
  text-align: center;
  font-family: "Open Sans Condensed";
  color: white;
  border-radius: 50px;
  margin: 0 3px;
  background: #222;
  box-shadow: 1px 1px 1px white;
}




/* Footer Right */
div#footer-right{
  max-width: 300px;
  /*border: 2px solid blue;*/
  float: right;
  margin: 60px 30px 30px 10px;
}

section#payment{
  color: white;
  font-size: 50px;
}


/* Copyright */
section#copyright{
  text-align: center;
  background: #223;
  display: block;
  color: white;
  font-size: 17px;
}










/* This is just a temporary section for colors */
div#colors{
  background: white;
  padding: 20px;
  width: 300px;
}

div#colors div{
  display: inline-block;
  border: 2px solid black;
  width: 30px;
  height: 30px;

}

#div1{background: orange;}
#div2{background: #1D5975;}
#div3{background: #06476F;}
#div4{background: #314770;}
#div5{background: #333;}
#div6{background: #808080;}
#div7{background: #ccc;}
#div8{background: #C65441;}

#colors{

}
/* End of temp section */
