<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kupido Distributions</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel|Open+Sans+Condensed:300|Ranga|Teko" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <div id="page-container">

      <!-- Header -->
      <header>
        <% include partials/header.ejs %>
      </header>

    <!-- Header Nav -->
      <% include partials/header-nav.ejs %>

      <!-- Main Section -->
      <section id="page-body">

        <!-- Intro Banner -->
        <section id="intro-banner">
          <p id="intro-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <a href="" target= "_blank"><button type=button id="btn1">More</button></a>
        </section>
        <!-- End of Intro Banner -->

      <a href= "#">
        <div id="brands-container">
          <section id="brands-banner"></section>
        </div>
      </a>

      <!-- Footer -->
      <footer>
        <% include partials/footer.ejs %>
      </footer>

      <div id="copy-main">
        <section id="copyright"><i class="far fa-copyright"></i></section>
        <p id="copy-text"> Kupido Distributors LLC 2018</p>
      </div>


    </div> <!-- End of page section -->


    <!-- This is just a temporary section to look at colors -->
    <p id="scheme">Color Scheme</p>
    <div id="colCont"></div>
    <div id="colors">
      <div id=div1></div>
      <div id=div2></div>
      <div id=div3></div>
      <div id=div4></div>
      <div id=div5></div>
      <div id=div6></div>
      <div id=div7></div>
      <div id="div8"></div>
    </div>
    <!-- End of temp section -->
    <script type= "text/javascript" src= "main.js"></script>
  </body>
</html>
