<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>practice</title>
  </head>
  <body>
    <header>
      <% include partials/header.ejs %>
    </header>
    <% include partials/header-nav.ejs %>
    <h1>Hello you</h1>

    <footer>
      <% include partials/footer.ejs %>
    </footer>

    <% include partials/copyright.ejs %>
  </body>
</html>
